<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.ProyectoFarmaciaConnectionString"
            connectionString="Data Source=MIRLU-PC\SQLEXPRESS;Initial Catalog=ProyectoFarmacia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>